@import "variables";

/**************
TABLET
**************/

@media (min-width: 480px) and (max-width: 1024px){

    .index-grid {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    article {
        background-color: $fondoArticle;
        height: 12vh;
        padding: 30px;
    }
    
    /*portfolio*/
    .port-grid {
        display: inline-block;
        grid-template-columns: 50%;
        grid-column-gap: 25px;
        justify-content: center;
     
    }
}



/**************
SMARTPHONE
**************/

@media (max-width: 479px){

    .index-grid {
        display: grid;
        grid-template-columns: 60%;
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }

    /*portfolio*/
    .port-grid {
        display: inline-block;
        width: 100%;
        justify-content: center;
     
    }

    .port-img {
        width: 100%;

    }

}